%h2 Search Results

.api-search-message
  %p Can't find what you're looking for? Help out your fellow users by adding it via the Google API!
  %input#search-api{ placeholder: 'Search for new establishment' }

#database-search-results
  - @results.each do |establishment|
    %h3= establishment.name

#api-search-results

-# key=AIzaSyAM4oDKRxYIRC_Oi3lbX9xb5n6GG_j3WQw