%h2 Search Results

.api-search-message
  %p Can't find what you're looking for? Help out your fellow users by adding it via the Google API!

  
  %input.search-input{id: "place", name: "place", placeholder: "Search cafes", type: "text"}
#results


#database-search-results
  - @results.each do |establishment|
    .establishment-card
      %h3= link_to establishment.name, establishment_path(establishment)
      %p= establishment.address
      - if establishment.description
        %p= establishment.description
      - if establishment.url
        %p= link_to establishment.url, establishment.url

#api-search-results