#map-canvas

#welcome-message
  %h2 Welcome to Productive Coffee!
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris erat, dignissim nec suscipit non, porta eu sapien. Vestibulum justo leo, rhoncus eu convallis nec.