#map-canvas

= link_to 'List All Establishments', establishments_path, :class => 'all-establishments-button button radius'

#myModal.reveal-modal{"data-reveal" => ""}
      %h2.intro-text Welcome to Productive Coffee!
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquet eros libero, tincidunt aliquam justo tempor vitae. Nulla semper et metus vel venenatis.
      %a.close-reveal-modal ×