/* Body */

body {
  background-color: #f0f0f0;
}



/* Nav */

.has-form {
  width: 250px;
}

.has-form input {
  border-radius: .20rem;
}



/* Wrapper */

#wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 1.5rem;
}



/* Typography */

p {
  font-size: 0.9rem;
  margin: 0;
}



/* Buttons */

.button {
  font-weight: lighter;
  letter-spacing: .02rem;
}



/* Horizontal Rules */

hr {
  margin: 0 0 2rem 0;
}