body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  position: relative;
  height: 550px;
  z-index: 1;
}

#map-canvas img {
  max-width: inherit;
}



/* Welcome message */

#welcome-message {
  position: absolute;
  width: 650px;
  bottom: 30px;
  left: 50%;
  margin-left: -325px;
  padding: 1.25rem 3rem 2rem;
  background-color: rgb(38, 38, 38);
  text-align: center;
  z-index: 2;
}

#welcome-message h2 {
  font-weight: lighter;
}

#welcome-message h2, #welcome-message p {
  color: #fff;
}