body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  position: relative;
  height: 550px;
}

#map-canvas img {
  max-width: inherit;
}



/* Welcome message */

#welcome-message {
  text-align: center;
  width: 70%;
  margin: 2.5rem auto 3rem;
}

#welcome-message h2 {
  font-weight: lighter;
}